<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DeliverySystem" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=deliveries;Integrated Security=SSPI" />
  </connectionStrings>
  <appSettings>
    <add key="TEST_EMAIL_UNAME" value="" />
    <add key="TEST_EMAIL_PWD" value="" />
  </appSettings>
</configuration>